.App {
    font-family: "Protest Riot", sans-serif;
    font-size: 20px;
    button {
        font-family: "Protest Riot", sans-serif;
    }
    .app-body {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        position: sticky;
        top: 0;
    }
    .header, button {
        padding: 16px 16px;
        background: linear-gradient(#3466ae 0%, #5390f1 100%);
        color: white;
        font-weight: bold;
        &:disabled {
            opacity: 0.5;
        }
        
    }

    button {
        border: none;
        border-radius: 4px;
        
    }
    
}
