.Game {
    .top {
        font-size: 30px;
        display: flex;
        align-items: center;
        gap: 16px;
        border: 1px solid silver;
        border-radius: 4px;
        padding: 16px;
        label {
            padding: 8px;
            border-radius: 4px;
        }
        input {
            font-size: 30px;
            padding-left: 10px;
            width: 100px;
            &:read-only {
                background: rgb(220, 219, 219);
                border: none;
            }
        }
        margin-bottom: 20px;
    }
    button {
        padding: 8px 16px;
    }
    .success {
        padding: 16px 8px;
        border-radius: 4px;
        background: #baf5c7;
    }
    .error {
        padding: 16px 8px;
        border-radius: 4px;
        background: #ffa3a3;
    }
    .result, .control {
        margin: 16px 0;
    }
    .control {
        display: flex;
        align-items: center;
        .timer-label {
            background: #447bd0;
            border-radius: 18px;
            font-size: 14px;
            margin-left: 8px;
            display: inline-block;
            width: 30px;
            height: 30px;
            display: grid;
            place-content: center;
            color: white;
            font-weight: bold;
        }
    }
    .info {
        color: grey;
        padding: 5px;
    }
}