.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-transform: capitalize;
    > div {
        border: 1px solid black;
        padding: 4px;
    }
    .badge-list-container {
        display: grid;
        grid-template-columns: auto;
        align-items: flex-start;
    }
    .badge-list {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 4px;
    }
}