.Log {
    .log-item {
        display: flex;
        gap: 4px;
        padding: 6px;
        .log-item-name {
            padding-right: 8px;
        }
        .symbol {
            width: 25px;
            height: 25px;
            display: grid;
            place-content: center;
            color: white;
            border-radius: 50%;
            &.false {
                background: #f10101;
            }
            &.true {
                background: #02af00;
            }
        }
    }
}