.Popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    display: grid;
    align-content: center;
    justify-content: center;
    background: #ffffff99;

    .Popup-body {
        background: #ffffff;
        display: inline-grid;
        place-content: center;
        padding: 20px;
        gap: 20px;
        border: 1px solid #f3f3f3;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .Popup-footer {
        display: flex;
        gap: 20px;
        flex-direction: row-reverse;
        button {
            padding-left: 40px;
            padding-right: 40px;
        }
        .no {
            background: white;
            color: black;
            border: 1px solid;
        }
    }

}

