.Wrapper {
    .header {
        button {
            padding: 8px 16px;
            background: white;
            color: black;
            margin-right: 8px;
        }
    }
    
    .wrapper-body {
        padding: 32px;
        
    }
}